:root {
    --blanco: #FFFFFF;
    --azulClaro: #3E578E;
    --azul: #184E97;
    --azulOscuro: #11294A;
    --grisClaro: #ECF0F1;
    --gris: #D6DBDF;
    --grisOscuro: #464646;
    --turquesa: #0DBEB0;
    --negro: #121212;
    --negroClaro: #282828;
    --rojo: #BD2F15;
    --negroTransparente: #00000080;
    --rojoTransparente: #bd2f15b3;
    --rosa: #bd2f151a;
    --rojoTenue: #bd2f1526;
}

body {
    background-color: var(--gris);
}



/*Estilos Navbar*/
.topbar {
    background-color: var(--rojo);
    border-bottom: 6px solid var(--negro);
}

.topbar .navbar-brand {
    color: var(--blanco);
    font-size: 1.3rem;
}

.topbar .nav-link {
    color: var(--blanco);
    font-weight: 500;
    transition: 0.3s ease;
}

.topbar .nav-link:hover {
    color: var(--grisClaro);
}

.topbar .nav-link.active {
    color: var(--negro);
    font-weight: 700;
}



/*Estilos Carroucel*/

.bienvenida img {
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
    background-color: var(--negroTransparente);
    padding: 20px;
    border-radius: 8px;
}



/*Estilos tarjetas*/

.card-option {
    background: var(--negroTransparente);
    border-radius: 14px;
    width: 160px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}

.card-number {
    background: var(--rojoTransparente);
    color: var(--blanco);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*Estilos formulario*/

.formBox {
    background-color: var(--rojoTenue);
    border-radius: 12px;
}



/*Estilos footer*/

.footer {
    background-color: var(--negro);
}

.footer-link {
    color: var(--grisClaro);
    text-decoration: none;
}

.footer-link:hover {
    color: var(--rojo);
}

.social-icon {
    color: var(--blanco);
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}

.social-icon:hover {
    color: var(--rojo);
}