:root {
    --blanco: #FFFFFF;
    --azulClaro: #3E578E;
    --azul: #184E97;
    --azulOscuro: #11294A;
    --grisClaro: #ECF0F1;
    --gris: #D6DBDF;
    --grisOscuro: #464646;
    --turquesa: #0DBEB0;
    --negro: #121212;
    --negroClaro: #282828;
    --rojo: #BD2F15;
    --negroTransparente: #00000080;
}

body {
    background-color: var(--gris);
}

/* NAVBAR */
.topbar {
    background-color: var(--rojo);
    border-bottom: 6px solid var(--negro);
}

.topbar .navbar-brand {
    color: var(--blanco);
    font-size: 1.3rem;
}

.topbar .nav-link {
    color: var(--blanco);
    font-weight: 500;
    transition: 0.3s ease;
}

.topbar .nav-link:hover {
    color: var(--grisClaro);
}

.topbar .nav-link.active {
    color: var(--negro);
    font-weight: 700;
}


.bienvenida img {
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
    background-color: var(--negroTransparente);
    padding: 20px;
    border-radius: 8px;
}

